# Python
__pycache__/

# Virtual environments
venv/
env/
.env

# Data (not user study data)
config/
data/
*.pth
*.json
!user_study_data/**/*.hdf5

# Jupyter
.ipynb_checkpoints/

# Logs
*.log
logs/

# Models
models/