# Python
__pycache__/

# Virtual environments
venv/
env/
.env

# Data
config/
data/
*.pth
*.json
user_study_data/
mixed_datasets/
user_study_results/User_study_form_data.csv

# Jupyter
.ipynb_checkpoints/

# Logs
*.log
logs/

# Models
models/